@{
    ViewBag.Title = "About E-Market HUB";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This is an online classified marketplace that allow users to post a variety of ads that may involve buying and selling of products like automobiles, smartphones, real-estate, electronics, etc.
    <br />
    If you want to sell anything like cars, bikes, computers, gadgets, etc. then you can post an ad with complete details of the item. Also the Ad owner can update or delete the ad as per the need.
</p>
