@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The below given details are dummy data. Please do not try to call to the provided phone number or drop an email to the email ids. Thank you!</p>

<address>
    ABC DEFGH JIKL<br />
    Mnopqrst, UV 738943<br />
    <abbr title="Phone">P:</abbr>
    123-456-7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">e_marketing_support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">e_marketing_market@example.com</a>
</address>